body {
    margin: 0px;
    background-color: #FFF;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    flex-grow: 1;
    margin-top: 64px;
}

.header .title {
    flex: 1;
}

.header .empty-progress-bar {
    height: 5px;
}

.content {
    margin-left: auto;
    margin-right: auto;
}
